.Menu{ 
    border: none;
    border-width: 2px 4px;
    border-radius: 40px;
    background-color:teal;
    width:70%;
    padding:2 ;
    color:white;


};

@media  (max-width: 800px){
    #Menu2{direction:'row';

    }

};
